contourpy==1.3.1
cycler==0.12.1
Cython==3.0.11
fcsparser==0.2.8
fonttools==4.56.0
igraph==0.11.8
joblib==1.4.2
kiwisolver==1.4.8
leidenalg==0.10.2
matplotlib==3.10.0
networkx==3.4.2
numpy==1.26.4
openTSNE==1.0.2
packaging==24.2
pandas==2.2.3
PhenoGraph==1.5.7
pillow==11.1.0
psutil==6.1.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
setuptools==75.8.0
six==1.17.0
texttable==1.7.0
threadpoolctl==3.5.0
tzdata==2025.1
